<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>

<body>
<div class="container-fluid">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>

    <main class="mt-4">
        <div class="jumbotron mt-3 bg-re">
            <h1 class="text-white">Доступ к странице запрещен: ОШИБКА Не авторизован!</h1>
            <hr color="white"/>
            <h4 class="text-white">Вы не авторизованы для доступа к этой странице или для выполнения текущей операции!</h4>
        </div>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>